.range-slider-container {
  width: 100%;
  margin: 25px auto;
}
.custom-track-0 {
  height: 12px;
  background: #FFFFFF; /* رنگ سفید برای محدوده‌ی انتخاب نشده */
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.custom-track-1 {
  height: 12px;
  background: #38D390; /* رنگ سبز برای محدوده‌ی انتخاب شده */
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.custom-slider {
  height: 12px;
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.parent_Lines{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.line_main_right{
  width: 2px;
  height: 13px;
  background-color: #D9D9D9;
  margin-top: 6px;
}
.line_min{
 width: 2px;
 height: 4px;
 background-color: #C2C2C2;
}
.line_max{
  width: 3px;
  height: 9px;
  background-color: #7C7C7C;
}
.line_main_left{
  width: 2px;
  height: 13px;
  background-color: #D9D9D9;
  margin-top: 6px;
}


.custom-thumb {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  top: -8px;
  border: 1px solid #37D390;
}

.custom-track {
  height: 12px;
  background: #38D390;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.range-values {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.parent_section_top_input_range{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section_top_input_range_shape{
  border: 1px solid #00000040;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  position: relative;
  background-color: #FFFFFF;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.depend_section_top_input_range_shape{
  width: 15px;
  height: 15px;
  border-left: 1px solid #00000040;
  border-bottom: 1px solid #00000040;
  position: absolute;
  bottom:-8px;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}
.depend_section_top_input_range_shape1{
  right: 10px;
}
.depend_section_top_input_range_shape2{
  left: 10px;
}
